Create Master Time Table

In [1]:
import pandas as pd
from datetime import datetime, timedelta, date
from pandas.tseries.offsets import DateOffset
import sqlalchemy as sql

#Setup start and end date
start_date = datetime.strptime('01.01.2019','%d.%m.%Y')
end_date = datetime.strptime('31.12.2023','%d.%m.%Y')

#SQL-Server Engine and Connection
engine_mssql = sql.create_engine("mssql+pyodbc://sa:QRIDLA6t@localhost/MSTR_DEMO?driver=ODBC+Driver+17+for+SQL+Server")
conn_mssql = engine_mssql.connect()

#PostgreSQL Server Engine and Connection
#engine_psql = sql.create_engine("postgresql+psycopg2://powerbi:powerbi@desktop-ivjma0m:5432/mh_demo")
#conn_psql = engine_psql.connect()

date_list = pd.date_range(start=start_date, end=end_date)

df_timedate_master = pd.DataFrame(list(zip(date_list)), columns =['date'])

df_timedate_master['date_german'] = df_timedate_master['date'].dt.strftime('%d.%m.%Y')
df_timedate_master['date_english'] = df_timedate_master['date'].dt.strftime('%m/%d/%Y')
df_timedate_master['date_previous_day'] = df_timedate_master['date'] - DateOffset(days=1)
df_timedate_master['date_previous_month'] = df_timedate_master['date'] - DateOffset(months=1)
df_timedate_master['date_previous_year'] = df_timedate_master['date'] - DateOffset(years=1)
df_timedate_master['date_previous_year_previous_month'] = df_timedate_master['date'] - DateOffset(years=1, months=1)
df_timedate_master['week_day_nr'] = pd.to_numeric(df_timedate_master['date'].dt.strftime('%w'))
df_timedate_master['week_day_name_german'] = df_timedate_master['date'].dt.day_name(locale = 'german')
df_timedate_master['week_day_name_english'] = df_timedate_master['date'].dt.day_name(locale = 'english')

df_timedate_master['week_id'] = pd.to_numeric(df_timedate_master['date'].dt.strftime('%Y%W'))
df_timedate_master['week_id_previous_week'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(weeks=1)).dt.strftime('%Y%W'))
df_timedate_master['week_id_previous_year'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(years=1)).dt.strftime('%Y%W'))
df_timedate_master['week_nr'] = pd.to_numeric(df_timedate_master['date'].dt.strftime('%W'))
df_timedate_master['week_name_english'] = df_timedate_master['date'].dt.strftime('CW %W')
df_timedate_master['week_name_german'] = df_timedate_master['date'].dt.strftime('KW %W')

df_timedate_master['month_id'] = pd.to_numeric(df_timedate_master['date'].dt.strftime('%Y%m'))
df_timedate_master['month_id_previous_month'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(months=1)).dt.strftime('%Y%m'))
df_timedate_master['month_id_previous_year'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(years=1)).dt.strftime('%Y%m'))
df_timedate_master['month_nr'] = df_timedate_master['date'].dt.month
df_timedate_master['month_name_german'] = df_timedate_master['date'].dt.month_name(locale = 'german')
df_timedate_master['month_name_english'] = df_timedate_master['date'].dt.month_name(locale = 'english')

df_timedate_master['quarter_id'] = pd.to_numeric(df_timedate_master['date'].dt.year.astype(str) + df_timedate_master['date'].dt.quarter.astype(str))
df_timedate_master['quarter_nr'] = pd.to_numeric(df_timedate_master['date'].dt.quarter)
df_timedate_master['quarter_name'] = df_timedate_master['date'].dt.year.astype(str) + ' Q' + df_timedate_master['date'].dt.quarter.astype(str)
df_timedate_master['quarter_id_previous_quarter'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(months=3)).dt.year.astype(str) + (df_timedate_master['date'] - DateOffset(months=3)).dt.quarter.astype(str))
df_timedate_master['quarter_id_previous_year'] = pd.to_numeric((df_timedate_master['date'] - DateOffset(months=12)).dt.year.astype(str) + (df_timedate_master['date'] - DateOffset(months=12)).dt.quarter.astype(str))

df_timedate_master['year'] = df_timedate_master['date'].dt.year
df_timedate_master['year_previous_year'] = df_timedate_master['date'].dt.year - 1

#print(df_timedate_master.info())
#print(df_timedate_master.iloc[0:5])
#print(df_timedate_master[['date', 'quarter_id', 'year', 'year_previous_year', 'quarter_id_previous_year']])

Aggregate Data and create Lookup Dataframes

In [2]:
df_LU_YEAR = df_timedate_master[['year', 'year_previous_year']].drop_duplicates()

df_LU_QUARTER = df_timedate_master[['quarter_id', 'quarter_nr', 'quarter_name', 'quarter_id_previous_quarter',
                                    'quarter_id_previous_year', 'year']].drop_duplicates()

df_LU_MONTH = df_timedate_master[['month_id', 'month_id_previous_month', 'month_id_previous_year', 'month_nr',
                                  'month_name_german', 'month_name_english', 'quarter_id', 'year']].drop_duplicates()

df_LU_WEEK = df_timedate_master[['week_id', 'week_id_previous_week', 'week_id_previous_year', 'week_nr', 'week_name_english',
                                 'week_name_german']].drop_duplicates()

df_LU_DAY = df_timedate_master

Create DATE YTD Time Transformations and Dataframe

In [3]:
run_date = start_date

list_date = []
list_date_ytd = []

while run_date <= end_date:
    first_date_of_year = datetime.strptime('01.01.' + str(run_date.year),'%d.%m.%Y')

    run_date_ytd = run_date
    while run_date_ytd >= first_date_of_year:
        list_date.append(run_date)
        list_date_ytd.append(run_date_ytd)
        run_date_ytd = run_date_ytd - timedelta(days=1)

    run_date = run_date + timedelta(days=1)

df_LU_DAY_YTD = pd.DataFrame(list(zip(list_date, list_date_ytd)), columns=['date', 'date_ytd'])

Write Lookups to CSV-Files

In [4]:
df_LU_YEAR.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_YEAR.csv', sep=';')
df_LU_QUARTER.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_QUARTER.csv', sep=';')
df_LU_MONTH.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_MONTH.csv', sep=';')
df_LU_WEEK.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_WEEK.csv', sep=';')
df_LU_DAY.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_DAY.csv', sep=';')
df_LU_DAY_YTD.to_csv('C:/Micha/MSTR/MicroStrategyPython/DataExport/LU_DAY_YTD.csv', sep=';')

Write Lookups to DB-Tables

In [ ]:
#Table name in lower case > Write to SQL-Server
df_LU_DAY.to_sql('tbl_lu_day', con=conn_mssql, if_exists='replace')
conn_mssql.commit()
df_LU_WEEK.to_sql('tbl_lu_week', con=conn_mssql, if_exists='replace')
conn_mssql.commit()
df_LU_MONTH.to_sql('tbl_lu_month', con=conn_mssql, if_exists='replace')
conn_mssql.commit()
df_LU_YEAR.to_sql('tbl_lu_year', con=conn_mssql, if_exists='replace')
conn_mssql.commit()
df_LU_DAY_YTD.to_sql('tbl_lu_day_ytd', con=conn_mssql, if_exists='replace')
conn_mssql.commit()

"""#Table name in lower case > Write to Postgre-SQL
df_LU_DAY.to_sql('tbl_lu_day', con=conn_psql, if_exists='replace')
conn_psql.commit()
df_LU_WEEK.to_sql('tbl_lu_week', con=conn_psql, if_exists='replace')
conn_psql.commit()
df_LU_MONTH.to_sql('tbl_lu_month', con=conn_psql, if_exists='replace')
conn_psql.commit()
df_LU_YEAR.to_sql('tbl_lu_year', con=conn_psql, if_exists='replace')
conn_psql.commit()
df_LU_DAY_YTD.to_sql('lu_day_ytd', con=conn_psql, if_exists='replace')
conn_mssql.commit()"""

Close Databases

In [ ]:
#Close SQL-Server Connection and Engine
conn_mssql.close()
engine_mssql.dispose()

#Close PostgreSQL Connection and Engine
#conn_psql.close()
#engine_psql.dispose()